{{#if error}}

{{#if error.default}}
<div class="error">Oops! Something went wrong. Please try again.</div>
{{/if}}

{{#if error.wrongpass}}
<div class="error">Oops! Invalid password. Please try again.</div>
{{/if}}

{{#if error.wrongemail}}
<div class="error">Oops! This email is not registered yet. Please sign up to show your support.</div>
{{/if}}

{{#if error.signerror}}
<div class="error">Something went wrong. Please make sure you signed in the white area.</div>
{{/if}}

{{/if}}

<!-- ERROR MESSAGES

/login

- Unknown error when password matches email:
"Something went wrong. Please try again."

- Password doesn't match email:
"Incorrect password. Please try again."

- Email not in database:
"This email is not registered yet. Please sign up to show your support."

/register

- Rejected promise error:
"Something went wrong. Please try again."

- No password:
"Invalid password. Please try again."

/profile

- Rejected promise error:
"Something went wrong. Please try again."

/edit

- Rejected promise error:
"Something went wrong. Please try again."

- Update database error:
"Something went wrong. Please try again."

/sign

- Add signature to database error:
"Something went wrong. Please try again."

- No signature to add to database error:
"Something went wrong. Please make sure you signed in the white area."

/thanks

- Error deleting signature
"Something went wrong. Please try again."

- Error deleting account
"Something went wrong. Please try again."

 -->
