
{{#unless title}}
<p id="header"><a href="/">make<br>teleportation<br>happen</a></p>
{{/unless}}

<nav>
    {{#if user}}
    <div>Hi, <strong><a href="/sign">{{user.first}}</a></strong></div>
    {{#if signature}}
    {{#unless route}}
    <div>&ensp;<span>|</span>&ensp;<a href="/supporters">{{count}} Supporters</a></div>
    {{/unless}}
    {{/if}}
    <div>&ensp;<span>|</span>&ensp;<a href="/edit">Edit your profile</a></div>
    <div>&ensp;<span>|</span>&ensp;<a href="/logout">Logout</a>
    </div>
    {{else}}
    {{#if login}}
    <div class="cat-login">Not a supporter yet?&emsp;<a href="/register">Sign up</a></div>
    {{else}}
    <div class="cat-login">Already a supporter?&emsp;<a href="/login">Login</a></div>
    {{/if}}
    {{/if}}
</nav>
<!-- <div class="hover identifier">Edit your profile</div> -->
