
{{#unless title}}
<p id="header"><a href="/">make<br>teleportation<br>happen</a></p>
{{/unless}}

<nav>
    {{#if user}}

    <div id="hambMenu">
    <input type="checkbox">

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
    <li>Hi, <strong><a href="/sign">{{user.first}}</a></strong></li>
    {{#if signature}}
    {{#unless route}}
    <li><a href="/supporters">{{count}} Supporters</a></li>
    {{/unless}}
    {{/if}}
    <li><a href="/edit">Edit your profile</a></li>
    <li><a href="/logout">Logout</a>
    </li>
    </ul>
    </div>
    {{else}}
    {{#if login}}
    <div class="cat-login">Not a supporter yet?&emsp;<a href="/register">Sign up</a></div>
    {{else}}
    {{#unless nonav}}
    <div class="cat-login">Already a supporter?&emsp;<a href="/login">Login</a></div>
    {{/unless}}
    {{/if}}

    {{/if}}
</nav>
