{{#if title}}
<p id="header"><a href="/">make teleportation happen</a></p>
{{/if}}
{{#unless title}}
<nav>
    {{#if user}}
    Hi, <a href="/edit">{{user.first}}</a>{{#if user.signature}}{{#unless route}}&ensp;|&ensp;<a href="/supporters">Supporters</a>{{/unless}}{{/if}}&ensp;|&ensp;<a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</nav>
{{/unless}}
