<main>
<div id="title">
<h1><strong>SCIENCE:</strong> Stop trying to go to Pluto and<br><span>make telepor<wbr>tation happen!</span></h1>
<div id="arrowdown"><a href="#text">▾</a></div>
</div>
<div id="text">
<p>It's 2019, we have <a href="https://solarsystem.nasa.gov/planets/dwarf-planets/pluto/overview/" target="_blank">photographs and 3D models</a> of a <span>(no longer considered)</span> planet located 7.5 billion kilometers away but it still takes us 10+ hours and hundreds of <span>[insert your currency here]</span> to see friends and relatives across an ocean (that's around <strong>a billion times</strong> closer from Europe to North America, for example).</p>
<a class="cat" href="/petition">Sign the petition</a>
</div>
</main>
