<main id="login">
    {{>nav}}
{{#if error}}
<div class="error">Oops! Something went wrong. Please fill all the fields to register.</div>
{{/if}}

<form method="post">
  <label for="email">E-mail</label>
  <input type="email" name="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" required>
  {{>csrf}}
    <button id="sign-btn" class="cat">Login</button>
  </div>
</form>
</main>
