<title>Make Teleportation Happen – Login</title>

{{>error}}

<form method="post">
  <label for="email">E-mail</label>
  <input type="email" name="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" required>
  {{>csrf}}
    <button id="sign-btn" class="cat">Login</button>
  </div>
</form>
