<main id="petition">
    {{>header}}
{{#if error}}
<div class="error">Oops! Something went wrong. Please fill all the fields before signing.</div>
{{/if}}

<form method="post">
    <label for="first">First Name</label>
  <input type="text" name="first" autocomplete="off">
  <label for="last">Last Name</label>
  <input type="text" name="last" autocomplete="off">
  <label for="signature">Signature</label>
  <input type="hidden" name="signature">
  {{>csrf}}
  <div class="canvas">
  <canvas id="signature"></canvas>
  </div>
  <div class="canvas-btn">
    <button type="button" name="clear" class="cat">Clear</button>
    <button id="sign-btn" class="cat">Sign</button>
  </div>
</form>
</main>
