<title>Make Teleportation Happen – Register</title>

<h1>Sign up to show your support!</h1>

{{>error}}

<form method="post">
    <label for="first">First Name</label>
  <input type="text" name="first" autocomplete="off" placeholder="Alice" required>
  <label for="last">Last Name</label>
  <input type="text" name="last" autocomplete="off" placeholder="Bowman" required>
  <label for="email">E-mail</label>
  <input type="email" name="email" placeholder="alice@nasa.gov" required>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="te£ep0rt@t10n" required>
  {{>csrf}}
  <div>
    <button id="sign-btn" class="cat">Next</button>
</div>
</form>
