<main id="sign">
    {{>header}}
{{#if error}}
<div class="error">Oops! Something went wrong. Please make sure you signed.</div>
{{/if}}

<form method="post">
  <label for="signature">Signature</label>
  <input type="hidden" name="signature">
  {{>csrf}}
  <div class="canvas">
  <canvas id="signature"></canvas>
  </div>
  <div class="canvas-btn">
    <button type="button" name="clear" class="cat">Clear</button>
    <button id="sign-btn" class="cat">Sign</button>
  </div>
</form>
</main>
