<title>Make Teleportation Happen – Sign the petition to support</title>

{{>error}}

<div class="sig-container">
<form method="post">
  <label for="signature">Signature</label>
  <input type="hidden" name="signature">
  {{>csrf}}
  <div class="canvas">
  <canvas id="signature"></canvas>
  </div>
  <div class="canvas-btn">
    <button type="button" name="clear" class="cat">Clear</button>
    <button name="sign" class="cat" disabled>Sign</button>
  </div>
</form>
</div>
