<main id="thanks">
<div>
    {{#if count}}
    <label>Signature #{{count}}</label>
    {{/if}}

    {{#if user}}
    <div id="signed" class="canvas">
    <img src="{{user.signature}}">
</div>
    <h1>Thanks for signing, {{user.first}}!</h1>


    {{/if}}
    <p><a href="/petition/signatures">See who signed</a></p>
</div>
</main>
