<title>Make Teleportation Happen – Thanks for supporting!</title>

<main id="thanks">
    <div>
        <label>Edit signature</label>

        {{#if signature}}
        <div id="signed" class="canvas">
            <img src="{{signature}}">
        </div>
        {{/if}}
        {{#if user}}
        <h1>Thanks for your support, {{user.first}}!</h1>
        {{/if}}
        <p class="cat"><a href="/supporters">Check out who else signed</a></p>
    </div>
</main>
