<title>Make Teleportation Happen – Thanks for supporting!</title>

    <div class="sig-container">

        <form method="post">
            {{>csrf}}
        <div class="canvas-btn"><button name="btn" class="cat" value="edit">Edit signature</button></div>
    </form>
        {{#if signature}}
        <div id="signed" class="canvas">
            <img src="{{signature}}">
        </div>
        {{/if}}

        {{#if user}}
        <h1>Thanks for your support, {{user.first}}!</h1>
        {{/if}}
        <a href="/supporters">Check out who else signed</a>
    </div>
