<title>Make Teleportation Happen – Thanks for supporting!</title>

    <div>
        <form method="post">
            {{>csrf}}
        <button name="btn" value="edit">Edit signature</button><button name="btn" value="deleteUser">Delete profile</button>
    </form>

        {{#if signature}}
        <div id="signed" class="canvas">
            <img src="{{signature}}">
        </div>
        {{/if}}
        {{#if user}}
        <h1>Thanks for your support, {{user.first}}!</h1>
        {{/if}}
        <p class="cat"><a href="/supporters">Check out who else signed</a></p>
    </div>
